#app {
  display: grid;
  grid-template-columns: 30% 68.5%;

  height: 100vh;
  overflow: hidden;
  gap: 1.25rem;

  aside h1 {
    font: var(--logo);
    color: var(--pink);
    margin-bottom: 4px;
  }

  aside p {
    font: var(--body-md);
    color: var(--text-heading);
  }

  aside img {
    width: 2.86rem;
    margin-bottom: 16px;
  }

  main h2 {
    font: var(--heading-md);
    color: var(--text-heading);
  }  
}

main {
  overflow: auto;
  background-color: var(--shape-body);
  padding: 5rem 8.125rem;
  border-radius: 12px;
  display: grid;
  justify-content: center;

  & .main-container {
    max-width: 52.5rem;
  }
}

main section {
  margin-bottom: 48px;
}

main section .title {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

aside {
  background-color: var(--shape-body);
  background-image: url("../assets/images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;

  padding: 2rem;

  & .aside-container {
    max-width: 25rem;
  }
}


